<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Made by Rishabh Thukral-->
    <title>TMS - Students</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename = 'css/lato.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename = 'css/montserrat-regular.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
    
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  </head>
  <body id="myPage"  data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('homePage')}}">TMS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('showStudents')}}">STUDENTS</a></li>
            <li><a href="{{url_for('showDrivers')}}">DRIVERS</a></li>
            <li><a href="{{url_for('showRoutes')}}">ROUTES</a></li>
            <li><a href="{{url_for('showVehicles')}}">VEHICLES</a></li>
            <li><a href="{{url_for('showFuelRecords')}}">FUEL</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Container (Contact Section) -->
    <div id="contact" class="container">
      <h3 class="text-center">STUDENTS DATA</h3>
      <p class="text-center"><em>Recorded data for {{student.name}} is as follows!</em></p>

      <div class="row">
        
        <div class="table-responsive">
          <table class = "table">
            <caption>Student Data Table</caption>
            <thead>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Name</td>
                <td>{{student.name}}</td>
              </tr>

              <tr>
                <td>Son Of</td>
                <td>{{student.son_of}}</td>
              </tr>

              <tr>
                <td>Contact</td>
                <td>{{student.contact}}</td>
              </tr>

              <tr>
                <td>Roll Number</td>
                <td>{{student.roll_no}}</td>
              </tr>

              <tr>
                <td>Course</td>
                <td>{{student.course}}</td>
              </tr>

              <tr>
                <td>Branch</td>
                <td>{{student.branch}}</td>
              </tr>

              <tr>
                <td>College</td>
                <td>{{student.college}}</td>
              </tr>

              <tr>
                <td>Year</td>
                <td>Year {{student.year}}</td>
              </tr>

              <tr>
                <td>Route Number</td>
                <td>Route {{student.route_number}}</td>
              </tr>

              <tr>
                <td>Issue Date</td>
                <td>{{student.issue_date}}</td>
              </tr>

              <tr>
                <td>Expiry Date</td>
                <td>{{student.end_date}}</td>
              </tr>              
            </tbody>
          </table>
        </div>
        
        <br>
        <div class="row" display="inline-block">
          <div class="col-lg-6 form-group pull-right">
            <a href="{{url_for('deleteStudents', student_id = student.student_id)}}">
              <button class="btn " type="submit">Delete</button>
            </a>
          </div>
          <div class="col-lg-6 form-group">
            <a href="{{url_for('editStudents', student_id = student.student_id)}}">
              <button class="btn pull-right" type="submit">Update</button>
            </a>
          </div>
        </div>
        
        
      </div>
      <br>
     
    </div>




    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>&copy; 2016 RTC. Proudly created by Rishabh Thukral.</p>
    </footer>

    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>

  </body>
</html>
