<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Made by Rishabh Thukral-->
    <title>TMS - Vehicles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename = 'css/lato.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename = 'css/montserrat-regular.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
    
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  </head>
  <body id="myPage"  data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('homePage')}}">TMS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('showStudents')}}">STUDENTS</a></li>
            <li><a href="{{url_for('showDrivers')}}">DRIVERS</a></li>
            <li><a href="{{url_for('showRoutes')}}">ROUTES</a></li>
            <li><a href="{{url_for('showVehicles')}}">VEHICLES</a></li>
            <li><a href="{{url_for('showFuelRecords')}}">FUEL</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Container (Contact Section) -->
    <div id="contact" class="container">
      <h3 class="text-center">VEHICLES DATA</h3>
      <p class="text-center"><em>Data for Vehicle {{vehicle.vehicle_number}} is as follows!</em></p>

      <div class="row">
        
        <div class="table-responsive">
          <table class = "table">
            <caption>Vehicle Data Table</caption>
            <thead>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vehicle Number</td>
                <td>{{vehicle.vehicle_number}}</td>
              </tr>
              <tr>
                <td>Model</td>
                <td>{{vehicle.model}}</td>
              </tr>
              <tr>
                <td>Year</td>
                <td>{{vehicle.year}}</td>
              </tr>
              <tr>
                <td>Vehicle Type</td>
                <td>{{vehicle.vehicle_type}}</td>
              </tr>
              <tr>
                <td>Assigned Driver</td>
                <td>{{vehicle.assigned_driver}}</td>
              </tr>
              <tr>
                <td>Route Assigned to</td>
                <td>Route {{vehicle.route_assigned_to}}</td>
              </tr>
              <tr>
                <td>Excise Tax Paid Upto</td>
                <td>{{vehicle.excise_tax_paid_upto}}</td>
              </tr>
              <tr>
                <td>Fitness Valid Upto</td>
                <td>{{vehicle.fitness_valid_upto}}</td>
              </tr>
              <tr>
                <td>Haryana Permit</td>
                <td>{{vehicle.haryana_permit_validity}}</td>
              </tr>
              <tr>
                <td>Punjab Permit</td>
                <td>{{vehicle.punjab_permit_validity}}</td>
              </tr>
              <tr>
                <td>UT Permit</td>
                <td>{{vehicle.ut_permit_validity}}</td>
              </tr>
              <tr>
                <td>Insurance Valid Upto</td>
                <td>{{vehicle.insurance_validity}}</td>
              </tr>
              <tr>
                <td>Last Service</td>
                <td>{{vehicle.last_service}}</td>
              </tr>
              <tr>
                <td>Next Service</td>
                <td>{{vehicle.next_service}}</td>
              </tr>
              <tr>
                <td>Passenger Tax Paid Upto</td>
                <td>{{vehicle.passenger_tax_paid_upto}}</td>
              </tr>
              <tr>
                <td>Pollution Certificate Validity</td>
                <td>{{vehicle.pollution_certificate_validity}}</td>
              </tr>              
            </tbody>
          </table>
        </div>
        
        <br>
        <div class="row" display="inline-block">
          <div class="col-lg-6 form-group pull-right">
            <a href="{{url_for('deleteVehicle', vehicle_id = vehicle.vehicle_id)}}">
              <button class="btn " type="submit">Delete</button>
            </a>
          </div>
          <div class="col-lg-6 form-group">
            <a href="{{url_for('editVehicle', vehicle_id = vehicle.vehicle_id)}}">
              <button class="btn pull-right" type="submit">Update</button>
            </a>
          </div>
        </div>
        
        
      </div>
      <br>
     
    </div>




    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>&copy; 2016 RTC. Proudly created by Rishabh Thukral.</p>
    </footer>

    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>

  </body>
</html>
