<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Made by Rishabh Thukral-->
    <title>TMS - Vehicles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename = 'css/lato.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename = 'css/montserrat-regular.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
    
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  </head>
  <body id="myPage"  data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('homePage')}}">TMS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('showStudents')}}">STUDENTS</a></li>
            <li><a href="{{url_for('showDrivers')}}">DRIVERS</a></li>
            <li><a href="{{url_for('showRoutes')}}">ROUTES</a></li>
            <li><a href="{{url_for('showVehicles')}}">VEHICLES</a></li>
            <li><a href="{{url_for('showFuelRecords')}}">FUEL</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Container (Contact Section) -->
    <div id="contact" class="container">
      <h3 class="text-center">VEHICLES DATA</h3>
      <p class="text-center"><em>All deployed vehicles are as follows!</em></p>

      <div class="row">
        
        <div class="table-responsive">
          <table class = "table">
            <caption>Vehicle Records Table</caption>
            <thead>
              <tr>
                <th>S. No.</th>
                <th>Vehicle Number</th>
                <th>Model</th>
                <th>Year</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              {% for v in vehicles %}
                
                  <tr>
                    <td>{{v.vehicle_id}}</td>
                    <td>{{v.vehicle_number}}</td>
                    <td>{{v.model}}</td>
                    <td>{{v.year}}</td>
                    <td>
                    <a href="{{url_for('showVehicleDetails', vehicle_id = v.vehicle_id)}}">
                      view more
                    </a>
                    </td>  
                  </tr>
                
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <a href="{{url_for('addVehicles')}}">
              <button class="btn pull-right" type="submit">Add Vehicle</button>
            </a>
          </div>
        </div>
        
      </div>
      <br>
     
    </div>




    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>&copy; 2016 RTC. Proudly created by Rishabh Thukral.</p>
    </footer>

    <script>
    $(document).ready(function(){
      // Initialize Tooltip
      $('[data-toggle="tooltip"]').tooltip();
      
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {

          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    })
    </script>

  </body>
</html>
